
<h3 style="margin-top:1em;">Print Jobs</h3>
<div class="container">
  <% @print_jobs.each do |job| %>
    <h4>ID <%= job.id %></h4>

    <%=# TODO: Show filament info (expandable) %>
    <h6>Filament: <%= job.filament_id %></h6>
    <h6>Weight: $<%= number_with_precision(job.usedWeight, :precision => 3) %></h6>
    <%=# TODO: Show printer info (expandable) %>
    <h6>Printer: <%= job.printer_id %></h6>
    <h6>Reference: <%= job.reference %></h6>
    <h6>Completed: <%= job.doneTime %></h6>
    <h6>Created: <%= job.created_at.strftime('%b %d, %Y') %></h6>
    <hr>
  <% end %>
</div>
