
<div class="container">
  <%= form_for @job do |j| %>
    <div class="row">
      <div class="col-2 form-label">
        <%= j.label(:filament_id, 'Filament') %>
        <br>
        <%= j.label(:used_weight, 'Weight Used (g)') %>
        <br>
        <%= j.label(:printer_id, 'Printer') %>
        <br>
        <%= j.label(:reference, 'Reference') %>
        <br>
        <%= j.label(:duration_mins, 'Duration (mins)') %>
        <br>
      </div>
      <div class="col-2 form-inputs">
        <%= j.select(:filament_id, options_for_select(Filament.all.map { |f| [f.brand + ' - ' + f.material + ' - ' + f.color, f.id] }, @job.filament_id), {include_blank: "Select filament"}) %>
        <br>
        <%= j.number_field :used_weight, :step => :any %>
        <br>
        <%= j.select(:printer_id, options_for_select(Printer.all.map { |p| [p.name, p.id] }, @job.printer_id), {include_blank: "Select printer"}) %>
        <br>
        <%= j.text_field :reference %>
        <br>
        <%= j.number_field :duration_mins, :value => 1 %>
        <br>
      </div>
    </div>

    <%= j.submit "Submit", class: "submit-btn" %>
  <% end %>
</div>
