
<div class="container-fluid">
  <div class="row">
    <div class="col-9"><h5>My Filaments</h5></div>
    <div class="col-3"><div><%= button_to "Add", new_filament_path, method: :get, class:"btn btn-success"  %></div></div>
  </div>
</div>
<div class="container first-section">
  <% if Filament.all.length == 0  %>
    <div class="center-notice">
      <h4>No filaments found</h4>
      <p>Studies have shown that printing using material leads to better results.</p>
    </div>
  <% end %>

  <% Filament.all.each do |filament| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <h6><%= filament.brand %> <%= filament.material %> (<%= filament.color %>)</h6>
          <p>Spool size: <%= filament.full_weight %> kg</p>
          <p class="sub-info">Added <%= filament.created_at.strftime('%H:%M | %b %d, %Y') %></p>
        </div>
        <div class="col-4 center-vertical">
          <div class="hover-btns">
            <%= button_to "Edit", { action: "edit", :controller => "filaments", id: filament.id }, method: :get, class: "btn btn-info" %>
            <%= button_to "Delete", { action: "destroy", :controller => "filaments", id: filament.id }, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>
