
<h1>Filament</h1><p> number <%= @filament.id %></p>

<h4>Type: <%= @filament.material %></h4>
<h4>Color: <%= @filament.color %></h4>
<h4>Brand: <%= @filament.brand %></h4>
<h4>Spool size: <%= @filament.fullWeight %>kg</h4>
<h4>Added: <%= @filament.created_at.strftime('%H:%M | %b %d, %Y') %></h4>
