
<h1>Filament</h1><p> number <%= @filament.id %></p>

<h2>Type: <%= @filament.material %></h2>
<h2>Color: <%= @filament.color %></h2>
<h2>Brand: <%= @filament.brand %></h2>
<h2>Spool size: <%= @filament.fullWeight %>kg</h2>
<h2>Added: <%= @filament.created_at.strftime('%H:%M | %b %d, %Y') %></h2>
