
<div class="container-fluid first-heading">
  <div class="row">
    <div class="col-9 center-vertical"><h5 class="header-with-icon">Active Printers</h5></div>
    <div class="col-3"><%= link_to raw("<i class=\"fa fa-2x fa-plus\" aria-hidden=\"true\"></i>"), new_printer_path, method: :get, class:"icon-btn"  %></div>
  </div>
</div>
<div class="container first-section">
  <% if Printer.all.length == 0  %>
    <div class="center-notice">
      <h4>No printers found</h4>
      <p>2D is so 2000's. Add a 3D printer!</p>
    </div>
  <% end %>

  <% Printer.all.each do |printer| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <h6><%= printer.name %></h6>
          <h6>Startup Cost: $<%= number_with_precision(printer.startup_cost, :precision => 2) %></h6>
          <h6>Created: <%= printer.created_at.strftime('%b %d, %Y') %></h6>
        </div>
        <div class="col-4 center-vertical">
          <div class="tight-hover-btns">
            <%= link_to raw("<i class=\"fa fa-pencil-alt\" aria-hidden=\"true\"></i>"), { action: "edit", :controller => "printers", id: printer.id }, method: :get, class: "btn btn-outline-info" %>
            <%= link_to raw("<i class=\"far fa-trash-alt\" aria-hidden=\"true\"></i>"), { action: "destroy", :controller => "printers", id: printer.id }, method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>
