


<div class="container">
  <%= form_for @printer do |f| %>
    <div class="row">
      <div class="col-2 form-label">
        <%= f.label :name %>
        <br>
        <%= f.label(:startup_cost, 'Startup Cost') %>
        <br>
      </div>
      <div class="col-2 form-inputs">
        <%= f.text_field :name %>
        <br>
        <%= f.number_field :startup_cost, value: number_to_currency(f.object.startup_cost.to_f, delimiter: '', unit: ''), step: :any %>
        <br>
      </div>
    </div>

    <%= f.submit "Submit", class: "submit-btn" %>
  <% end %>
</div>
