


<div class="container">
  <%= form_for @printer do |p| %>
    <div class="row">
      <div class="col-2 form-label">
        <%= p.label :name %>
        <br>
        <%= p.label(:startup_cost, 'Startup Cost') %>
        <br>
      </div>
      <div class="col-2 form-inputs">
        <%= p.text_field :name %>
        <br>
        <%= p.number_field :startup_cost, value: number_to_currency(p.object.startup_cost.to_f, delimiter: '', unit: ''), step: :any %>
        <br>
      </div>
    </div>

    <%= p.submit "Submit", class: "submit-btn" %>
  <% end %>
</div>
